<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />

<body>
	<div th:include="fragments :: header">?</div>

	<div class="mainpane">

		<h1>CURRENCY LOAD</h1>

		<!--/* First page render, show form */-->
		<div th:if="${j_load == null}">
			<form name="load" method="GET" th:action="@{/currency/load}">
				<input type="hidden" name="j_load" th:value="-1" />
				<button class="mySubmit" type="submit">Load</button>
			</form>
		</div>

		<!--/* Second page render, show result */-->
		<div th:unless="${j_load == null}">
			<div class="myInfo">
				<h2 th:text="${'Loaded ' + j_load + ' items.'}">?</h2>
				<p th:text="${'Elapsed time ' + j_elapsed}">?</p>
			</div>
		</div>

	</div>

	<div th:include="fragments :: footer">?</div>
</body>

</html>